<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <!-- Config here. -->

<display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/sayfa-bulunamadi.jsp</location>
  </error-page>
  
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/admin/*</url-pattern>
  	<url-pattern>/dau/*</url-pattern>
  	<url-pattern>/company/*</url-pattern>
  	<url-pattern>/student/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>AdminAuthorizationFilter</filter-name>
  	<url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>DauAuthorizationFilter</filter-name>
  	<url-pattern>/dau/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>CompanyAuthorizationFilter</filter-name>
  	<url-pattern>/company/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>StudentAuthorizationFilter</filter-name>
  	<url-pattern>/student/*</url-pattern>
  </filter-mapping>
</web-app>
